<span style="font-family: Roboto Mono;">
	<!-- dumb preload -->
</span>

<div class="background loading">
	<div id="bgImage"></div>
</div>
<div class="container loading">
	<div class="canvas-container">
		<canvas id="canvas"
			width="{{canvas.width}}"
			height="{{canvas.height}}"
		></canvas>
		<canvas id="canvasOverlay"
			width="{{overlay.width}}"
			height="{{overlay.height}}"
		></canvas>
		<button id="compressButton" class="hidden">
			<i class="fa fa-compress"></i>
		</button>
		<button id="fsRefreshButton" class="hidden">
			<i class="fa fa-refresh"></i>
		</button>
	</div>
	<div class="controls">
		<div>
			<button id="runButton">
				<i class="fa fa-play"></i>
			</button>
			<button id="pauseButton" class="hidden">
				<i class="fa fa-pause"></i>
			</button>
			<button id="refreshButton">
				<i class="fa fa-refresh"></i>
			</button>
		</div>
		<div class="selectors">
			<select id="functionSelector">
				{{#each functionOpts}}
					<option value="{{this.value}}">{{this.name}}</option>
				{{/each}}
			</select>
			<select id="functionSelectorOpponent">
				{{#each functionOpts}}
					<option value="{{this.value}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="flex-end">
			<button id="expandButton">
				<i class="fa fa-expand"></i>
			</button>
		</div>
	</div>
	<div class="extend"></div>

	<slot name="notes"></slot>
</div>

